################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MAUI-applicatie/bin/Debug
/MAUI-applicatie/bin/Debug/net8.0
/MAUI-applicatie/obj
