# Build and IDE artifacts
**/bin/
**/obj/
.vs/
*.user
*.suo

# Output and debug files
*.apk
*.db
*.pdb
*.DS_Store

# Private keys and sensitive data
**/secrets/
**/service-account.json
**/raw/
Resources/raw/service_account.json

